ul {
    padding: 0;
}
.banner_content {
    background: #4abdce !important;
}
.banner_content .content {
    position: relative;
}
.banner_content .content button {
    font-size: 24px;

    position: absolute;
    top: 7px;
    right: 12px;
    padding: 0;
    border: 0;
    background: transparent;
}
.help_content .card-body ul li {
    list-style-type: none;
    padding: 6px;
}
.main_content {
    border-left: 1px solid #eee;
    padding-left: 32px;
}
.main_content #accordion .card-header a {
    font-size: 16px;
    padding: 6px 0;
    display: block;
}
.main_content .list-item li a:hover {
    text-decoration: none;
}
.main_content #accordion .card-header a:hover .float-right {
    margin: 0;
    opacity: 1;
}
.main_content #accordion .card-header a .float-right {
    margin-right: 34px;
    opacity: 0;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.main_content #accordion .card-header a .float-right i {
    color: #4abfd0 !important;
}