/* carousel */
ul.carousel-list {
    padding-left: 2px;
    white-space: nowrap;
}

ul.carousel-list li {
    display: inline-block;
    text-decoration: none;
    margin-right: 2px;
}

/* new */
ol.carousel-indicators li {
    border-radius: 5px;
    width: 8px;
    height: 8px;
    background-color: #959595;
}
ol.carousel-indicators li.active {
    background: #ffc107;
}