.equal .dash {
    height: 125px;
    width: 100%;

    padding: 12px 15px;
    position: relative;
}
.dash .content-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 32px;
    width: 100%;
    padding: 0 15px;

    background: rgba(0,0,0,.20);

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dash:hover .content-bottom {
    background: rgba(0,0,0,.60);
}
.dash .content-bottom a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding-top: 7px;
}
.dash .content-bottom i {
    padding-top: 2px;
}
.equal .dash .content-top i {
    font-size: 56px;
}
.equal .dash .content-top h1 {
    font-size: 32px;
}
