.nav-scroller {
    height: 2.75rem;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .14);
}
.nav-scroller nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.nav-scroller nav a{
    white-space: nowrap;
}
.nav-scroller nav a {
    padding: 13px;
}

