.product-item .img-product {
    position: relative;
}

.product-item .img-product .check-box {
    position: absolute;
    top: 32%;
    left: 24px;
}

.product-item-squared {

}

.product-item-squared .item {
    border: 1px solid #888;
    padding: 24px;
}

.product-item-squared .content_product .col-sm-3,
.product-item-squared .content_product .col-sm-2 {
    width: 100% !important;

    flex: auto;
    max-width: 100% !important;
}