.item-table thead {
    padding: 12px;
    background: #f8f8f8;
    border: 0 !important;
}


.item-table button.qty {
    width: 28px;
    height: 28px;
}
.item-table button.qty:hover {
    cursor: pointer;
}
.table thead th {
    font-size: 11px !important;
    color: #888;
    letter-spacing: 1px;
}
.table td {
    padding: 12px;
}

