/* chat-box style */
.chat-box {
    width: 290px;

    position: fixed;
    bottom: 0px;
    right: 20px;
}
.msg-body {
    height: 250px;

    overflow: auto;
    overflow-x: hidden;

    /*reverse scroll*/
    display: flex;
    flex-direction: column-reverse;

}


.box-shadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

.chat-body {
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.chat-user {
    cursor: pointer;
}

.chat-user img {
    height: 30px;
}

.chat-user:hover {
    background: #f8f8f8;

}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

