.custom-sidebar a:hover {
    color: #FC6E26 !important;
}

.custom-sidebar a.active {
    color: #FC6E26 !important;
}

ul .accordion-toggle:after {
    position: relative;
    color: #6c757d !important;
    float: right;
    top: -17px;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Font Awesome\ 5 Free'; /* essential to enable caret symbol*/
    content: "\f107"; /* adjust as needed, taken from font-awesome.css */
}
ul .accordion-toggle.collapsed:after {
    content: "\f105"; /* adjust as needed, taken from font-awesome.css */
    color: #6c757d !important;
}

