
.track {
    background: #333;
    color: #fff;
}
.print {
    width: 210mm;
    height: 400px;
    display: block;
    border: 1px solid #aaa;

    margin: 0 auto;

    position: relative;
}
.print .footer-reciept {
    position: absolute;
    bottom: 12px;
    right: 24px;

    width: 250px;

}
.clearfix {
    clear: both;
}
header {
    height: 50px;
    width: 50%;
}

@media print {
    html, body {
        width: 210mm;
    }
    @page {
        size: A4;
        margin: .5cm;
    }
    p {
        margin: 0;
    }
    .track {
        background: #333 !important;
        color: #fff !important;

        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;
    }
    .printablediv {
        width: 210mm;
        height: 800px;

        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;

        margin: 0 auto;
    }
    header {
        background: #eee;
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;
    }
    .printablediv .amount span {
        background: #333 !important;
        color: #fff !important;

        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }
}