.img-upload .img-list {
    margin: 0;
    padding: 0;
}
.img-upload .img-list li {
    list-style-type: none;
    display: inline-block;
}
.img-upload .img-list li .img-item {
    width: 220px;
    height: 220px;
    background: #eee;

    position: relative;
    overflow: hidden;
}
.img-upload .img-list li .btn-upload-img {
    padding-top: 38%;
}
.img-upload .img-list li .img-item img {
    width: 200%;
    height: auto !important;
}
.img-upload .img-list li .img-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-upload .img-list li .img-item:hover .overlay {
    background: rgba(0,0,0,.50);
}
.img-upload .img-list li .img-item .content a.crp {
    position: absolute;
    z-index: 999;
    top: 12px;
    right: 12px;
}
.img-upload .img-list li .img-item .content a.dlt {
    position: absolute;
    z-index: 999;

    top: 12px;
    right: 45px;
}
.img-upload .img-list li .img-item .content button.cover {
    position: absolute;
    z-index: 999;

    bottom: 0;
}
.img-upload .img-list li .img-item .content button.cover{
    display: none;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-upload .img-list li .img-item .content a.dlt,
.img-upload .img-list li .img-item .content a.crp{
    border: 1px solid #fff;
    font-size: 12px;
    padding-top: 4px;
    width: 40px;
    height: 40px;
    color: #fff;
    display: inline-block;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-upload .img-list li .img-item .content a.dlt:hover,
.img-upload .img-list li .img-item .content a.crp:hover {
    background: #4abfd0 ;
}
.img-upload .img-list li .img-item:hover .content button.cover {
    display: block;
}
.btn-outline-custom {
    padding: 22px;
    background: transparent;
    border: 1px solid #666;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-outline-custom:hover {
    background: #4abfd0;
    color: #fff;
    border: 1px solid #4abfd0;
    cursor: pointer;
}
table tr th {
    padding: 12px;
    background: #eee;
}
