/*.footer {*/
  /*margin-top: 50px;*/
  /*border-top: 1px solid #d7d7d7;*/
/*}*/

/*div.dropdown-divider {*/
  /*border-color: #b5b5b5;*/

/*}*/

/*.footer-text {*/
  /*color: #ccc;*/
/*}*/
@media only screen and (max-width: 512px) {
    footer {
        margin-bottom: 80px;
    }
}