.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FC6E26;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FC6E26;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#foo::before
{
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}

.account-title {
    display: none;
}
@media only screen and (max-width: 512px) {
    .mobileAccount {
        margin-bottom: 80px;

        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 0px;
        width: 100%;
        

        display: block;
    }
    .account-title {
        display: block;
    }
    .mobileAccount .card {
        border: 0px;
        border-radius: 0px;
        height: 100%;
        background: #fff;
    }
    .my-address {
        height: 150% !important;
    }

}