ol {
    counter-reset: item;
    padding: 0;
}
.docs_content .docs_list li ol {
    padding-left: 24px;
}
.docs_content .docs_list li  {
    display: block
}
.docs_content .docs_list li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}