.carousel-control-prev-custom,
.carousel-control-next-custom {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev-custom {
    left: 0;
}

.carousel-control-next-custom {
    right: 0;
}