/*
 * Copyright (c) 2016-present, Parse, LLC
 * All rights reserved.
 *
 * This source code is licensed under the license found in the LICENSE file in
 * the root directory of this source tree.
 */
/*
 * Copyright (c) 2016-present, Parse, LLC
 * All rights reserved.
 *
 * This source code is licensed under the license found in the LICENSE file in
 * the root directory of this source tree.
 */
.loader {
  position: relative;
  display: block;
  width: 140px;
  height: 140px; }
  .loader div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: translate(-50%, -50%); }
    .loader div:nth-child(3n) {
      background: #ff395e; }
    .loader div:nth-child(3n + 1) {
      background: #00db7c; }
    .loader div:nth-child(3n + 2) {
      background: #169cee; }

.center {
  position: absolute;
  top: 50%;
  left: 50%; }

/*# sourceMappingURL=Loader.css.map */
