


.notify {
    position: relative;
    margin-top: -30px;
}

.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -16px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #f33155;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #f33155;
    position: absolute;
    right: -6px;
    top: -10px;
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }
    25% {
        -moz-transform: scale(.1);
        opacity: .1;
    }
    50% {
        -moz-transform: scale(.5);
        opacity: .3;
    }
    75% {
        -moz-transform: scale(.8);
        opacity: .5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(.1);
        opacity: .1;
    }
    50% {
        -webkit-transform: scale(.5);
        opacity: .3;
    }
    75% {
        -webkit-transform: scale(.8);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
