@import '../stylesheets/globals';


.notificationMessage, .notificationError {
  @include animation('fade-in 0.2s ease-out');
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 1;
  background: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  width: 260px;
}


.notificationMessage {
  border: 2px solid $blue;
  color: $blue;
}

.notificationHide {
  @include animation('fade-out 0.2s ease-out');
}

@include keyframes(fade-in) {
  0% {
    @include transform(scale(0.9));
    opacity: 0;
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}

@include keyframes(fade-out) {
  0% {
    @include transform(scale(1));
    opacity: 1;
  }
  100% {
    @include transform(scale(0.9));
    opacity: 0;
  }
}
