/*.dropdowntoggle::after {*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*margin-left: 0.255em;*/
/*top: 50%;*/
/*content: "";*/
/*border-top: 0.3em solid;*/
/*border-right: 0.3em solid transparent;*/
/*border-bottom: 0;*/
/*border-left: 0.3em solid transparent;*/
/*}*/

/*.dropdown-notification {*/
/*width: 280px;*/
/*min-height: 360px;*/
/*max-height: 360px;*/
/*}*/

/*.dropdown-notification::-webkit-scrollbar {*/
/*width: 7px;*/
/*}*/
/*.dropdown-notification::-webkit-scrollbar-thumb {*/
/*background-color: #ccc;*/
/*}*/

/*.overflow-y{*/
/*overflow-y: scroll;*/
/*}*/

/*html,*/
/*body {*/
/*overflow-x: hidden; !* Prevent scroll on narrow devices *!*/
/*}*/

/*@media (max-width: 767.98px) {*/
/*.offcanvas-collapse {*/
/*position: fixed;*/
/*top: 0; !* Height of navbar *!*/
/*padding-top: 24px;*/
/*bottom: 0;*/
/*width: 100%;*/
/*padding-right: 1rem;*/
/*padding-left: 1rem;*/
/*overflow-y: auto;*/
/*background-color: #eb9710;*/
/*transition: -webkit-transform .3s ease-in-out;*/
/*transition: transform .3s ease-in-out;*/
/*transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;*/
/*-webkit-transform: translateX(-120%);*/
/*transform: translateX(-120%);*/
/*}*/
/*.offcanvas-collapse.open {*/
/*-webkit-transform: translateX(-1rem);*/
/*transform: translateX(-1rem); !* Account for horizontal padding on navbar *!*/
/*}*/
/*}*/

/*.nav-scroller {*/
/*position: relative;*/
/*z-index: 2;*/
/*height: 2.75rem;*/
/*overflow-y: hidden;*/
/*}*/

/*.nav-scroller .nav {*/
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-ms-flex-wrap: nowrap;*/
/*flex-wrap: nowrap;*/
/*padding-bottom: 1rem;*/
/*margin-top: -1px;*/
/*overflow-x: auto;*/
/*color: rgba(255, 255, 255, .75);*/
/*text-align: center;*/
/*white-space: nowrap;*/
/*-webkit-overflow-scrolling: touch;*/
/*}*/

/*.nav-underline .nav-link {*/
/*padding-top: .75rem;*/
/*padding-bottom: .75rem;*/
/*font-size: .875rem;*/
/*color: var(--secondary);*/
/*}*/

/*.nav-underline .nav-link:hover {*/
/*color: var(--blue);*/
/*}*/

/*.nav-underline .active {*/
/*font-weight: 500;*/
/*color: var(--gray-dark);*/
/*}*/

/*.text-white-50 { color: rgba(255, 255, 255, .5); }*/

/*.bg-purple { background-color: var(--purple); }*/

/*.border-bottom { border-bottom: 1px solid #e5e5e5; }*/

/*.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }*/

/*.lh-100 { line-height: 1; }*/
/*.lh-125 { line-height: 1.25; }*/
/*.lh-150 { line-height: 1.5; }*/

/*.dropdown-menu li a.dropdown-item,*/
/*.dropdown-menu li button {*/
    /*font-size: 13px;*/
/*}*/

.dropdown-menu li a.dropdown-item i,
.dropdown-menu li button i {
    color: #ddd;
}

.dropdowntoggle::after {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    top: 50%;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-notification {
    width: 280px;
    min-height: 360px;
    max-height: 360px;
}

.dropdown-notification::-webkit-scrollbar {
    width: 7px;
}

.dropdown-notification::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.mobileview {
    display: none;
}
@media only screen and (max-width: 512px) {
    header.navbar-light,
    .nav-scroller {
        display: none;
    }
    .mobileview {
        display: block;
    }
}
/*.overflow-y {*/
    /*overflow-y: scroll;*/
/*}*/



