/*.a-link-cart{*/
  /*font-size: 13px;*/
  /*text-decoration: none;*/
  /*color: #424242;*/
/*}*/

/*.a-link-heart{*/
  /*font-size: 13px;*/
  /*text-decoration: none;*/
  /*color: #424242;*/
/*}*/
/*a:hover {*/
  /*text-decoration: none;*/
  /*color: #3b97a3;*/
/*}*/

/*.card-footer a{*/
  /*cursor: pointer;*/
/*}*/


.card .card-image {
  background: #f8f8f8;
}
/*.card {*/
  /*overflow: hidden;*/
/*}*/
/*.card:hover .card-content {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*z-index: 1;*/
  /*border: 1px solid #eee;*/
  /*background: rgba(255,255,255,.90);*/

  /*-webkit-transition: all .2s ease-in-out;*/
  /*-moz-transition: all .2s ease-in-out;*/
  /*-ms-transition: all .2s ease-in-out;*/
  /*-o-transition: all .2s ease-in-out;*/
  /*transition: all .2s ease-in-out;*/
/*}*/
/*.card .triger {*/
  /*opacity: 0;*/
  /*position: absolute;*/
  /*z-index: 2;*/
  /*top: 40%;*/
  /*text-align: center;*/
  /*width: 100%;*/

  /*-webkit-transition: all .2s ease-in-out;*/
  /*-moz-transition: all .2s ease-in-out;*/
  /*-ms-transition: all .2s ease-in-out;*/
  /*-o-transition: all .2s ease-in-out;*/
  /*transition: all .2s ease-in-out;*/
/*}*/
/*.card .triger a {*/
  /*font-size: 12px;*/
  /*letter-spacing: 1px;*/
  /*text-decoration: none;*/
  /*color: #fff;*/
  /*text-transform: uppercase;*/
/*}*/
/*.card .triger a:hover {*/
  /*color: #fff;*/
/*}*/
/*.card:hover .triger {*/
  /*opacity: 1;*/
/*}*/
