.modal-confirm {
    width: 525px;
    color: #434e65;
}

/*.modal-confirm .modal-content {*/
    /*padding: 20px;*/
/*}*/

/*.modal-confirm .modal-header {*/
    /*margin: -20px -20px 0;*/
/*}*/

/*.modal-confirm .close {*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*right: 15px;*/
    /*color: #fff;*/
    /*text-shadow: none;*/
/*}*/


