ul.scrollmenu {
    padding: 5px;
    overflow: auto;
    white-space: nowrap;
}

ul.scrollmenu li {
    display: inline-block;
    float: none;
    text-decoration: none;
    margin-right: 4px;
    background: #eee;
}

ul.scrollmenu li a {
    cursor: pointer;
}

.img-thumbnail-size {
    width: 110px;
    height: 110px;
}

#carousel-payment {
    position: relative;
}

#circle {
    font-size: 18px;
    text-align: center;
}

#circle .right {
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 50%;

    position: absolute;
    right: 0;
    top: 42%;
}

#circle .left {
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 42%;

}

#circle .right span,
#circle .left span {
    padding-top: 16px;
}

label.custom,
span.custom,
button.custom {
    font-size: 12px;
}

button.btn-outline-dark:hover {
    color: #fff !important;
    background: #aaa !important;
}

.upload-img {
    position: relative;
    top: 35px;
    z-index: 9999;
}

.upload-img label:hover,
.upload-img label figure:hover
.upload-img .custom-file-input:hover
.upload-img .custom-file-input i:hover {
    cursor: pointer;
}

.upload-img figure {
    width: 85px;
    height: 85px;
    border: 1px solid #eee;
    background: #eee;
}

.upload-img figure i {
    font-size: 22px;
    padding-top: 28px;
    color: #aaa;
}

.upload-img .custom-file-input {
    z-index: 222;
}

.btn-check .active {
    background: white;
    border: 1px solid #4abfd0;
}

.btn-check label {
    border-color: #e9ecef;
}

.btn-check label.active:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f058";
    position: absolute;
    color: #4abfd0;
    background-color: white;
    font-size: 19px;
    height: 20px;
    top: -13px;
    right: -7px;
}