.font-size-xs {
  font-size: 12px;
}

.font-size-sm {
  font-size: 14px;
}

.font-size-md {
  font-size: 24px;
}

.font-size-lg {
  font-size: 34px;
}

.font-size-xl {
  font-size: 40px;
}

.anim-zoom {
  -webkit-animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -moz-animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -ms-animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  animation: zoom 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-moz-keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-ms-keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.anim-fade-in {
  -webkit-animation: fade-in .2s linear;
  -moz-animation: fade-in .2s linear;
  -ms-animation: fade-in .2s linear;
  animation: fade-in .2s linear;
  opacity: 1;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

.bg-progress {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  cursor: wait;
  -webkit-animation: bg-progress 0.5s infinite;
  -moz-animation: bg-progress 0.5s infinite;
  -ms-animation: bg-progress 0.5s infinite;
  animation: bg-progress 0.5s infinite;
}

@-webkit-keyframes bg-progress {
  0% {
    background-position: -40 0;
  }
  100% {
    background-position: 150% 0;
  }
}

@-moz-keyframes bg-progress {
  0% {
    background-position: -40 0;
  }
  100% {
    background-position: 150% 0;
  }
}

@-ms-keyframes bg-progress {
  0% {
    background-position: -40 0;
  }
  100% {
    background-position: 150% 0;
  }
}

@keyframes bg-progress {
  0% {
    background-position: -40 0;
  }
  100% {
    background-position: 150% 0;
  }
}

/*forn control*/
.custom-form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.custom-form-control:focus {
  box-shadow: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  outline: none;
  height: 14px;
  width: 14px;
  border: 1px solid #cacece;
}

input[type=checkbox]:before {
  /*icon*/
  content: "";
  width: 8px;
  height: 5px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 14%;
  left: 14%;
  opacity: 0;
}

input[type=checkbox]:checked {
  background-color: #17A2BB;
  border: 1px solid #17A2BB;
}

input[type=checkbox]:checked:before {
  opacity: 1;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.14);
}

/*# sourceMappingURL=idealui.css.map */
