.progressbar-manage-order li {
    margin-bottom: 15px;
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: sticky;
    text-align: center;
    color: #ddd;
    font-size: 12px;
}

.progressbar-manage-order li:before {
    content: "";
    width: 15px;
    height: 15px;
    line-height: 20px;
    border: 3px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 4px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar-manage-order li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 6px;
    left: -47%;
    z-index: -1;
}
.progressbar-manage-order li:first-child:after {
    content: none;
}
.progressbar-manage-order li.active {
    color: green;
}
.progressbar-manage-order li.active:before{
    border-color: green;
}
/*.progressbar-manage-order li.active + li:after {*/
    /*background-color: green;*/
/*}*/


